---
import Layout from '@layouts/Layout.astro';
import Logo from '@components/Logo.astro';
import ThemeSwitch from '@components/ThemeSwich.astro';
import SearchBar from '@components/SearhBar.astro';
import Hero from '@components/Hero.astro';
import Contactos from '@components/Contactos.astro';
import CatalogCategory from '@components/CatalogCategory.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Racks del Perú - Tu tienda de confianza para racks y accesorios">
<header class="w-full flex px-2 md:px-10 justify-between items-center bg-primary sticky top-0 z-50">
  <Logo width="w-32 md:w-52"/>
  <SearchBar />
  <ThemeSwitch />
</header>
	<main class="flex flex-col items-center bg-primary">
		<div class="w-full bg-(image:--gradient-main)">
			<Hero />
			<div class="w-full bg-primary">
				<Contactos />
			</div>
			<div class="bg-primary text-text w-full text-center text-sm md:text-lg">
				Rack de TV, Audio, Proyector, Monitor, instalación y soporte en todo el Perú.
			</div>
			<div class="w-full flex justify-center">
				<CatalogCategory />
			</div>
		</div>

	</main>
	<footer>

	</footer>
</Layout>
